<div class="Inicio">
    <div class="tituloSectionPaciente">
        <h2 class="tituloPacienteH2">Cuidando la vida con la misma pasión</h2>
    </div>

    <div class="cuadrosPc">
        <img src="assets/img/src/foto-medica.jpg" class="d-block w-100" alt="...">
        <div class="flex-container-paciente2">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <i class="fa-solid fa-hospital-user" style="color: #3c9a87;"></i>
                    <p>Paceintes Totales: </p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <i class="fa-solid fa-children" style="color: #3c9a87;"></i>
                    <p>Pacientes del profesional:  {{ contador }} </p>
                </div>
            </div>

        </div>
        <app-add-favs></app-add-favs>
    </div>

</div>