<!-- VENTANA INFO -->
<div id="infoContainer" style="display: none;">
    <img class="img-responsive" src="assets/img/src/fondo5.jpg">
    <header class="w3-container w3-blue">
        <h2>Información para pacientes</h2>
    </header>

    <div class="w3-container blue w3-round-xlarge">
        <br>
        <p><span style="font-size: 1.2em;">¿Quiénes somos?</span>
            <br>
            <br>Bienvenido a nuestra página.
            <br>Somos un grupo de estudiantes casi egresados de la escuela secundaria EEST N°6 'Albert Thomas',
            trabajando en conjunto con la Facultad de Ingeniería de La Universidad Nacional de La Plata, que
            intenta ofrecer mayor comodidad a quienes nos vienen cuidando históricamente, pero más en este
            último tiempo: los profesionales de la salud.
        </p>
        <div class="w3-bar">
            <img class="w3-bar-item w3-third" src="assets/img/src/fondo1.jpg" width="300"
                height="200">
            <img class="w3-bar-item w3-third" src="assets/img/src/fondo2.jpg" width="300"
                height="200">
            <img class="w3-bar-item w3-third" src="assets/img/src/fondo3.jpg" width="300"
                height="200">
        </div>
    </div>
</div>